<!DOCTYPE html>
<html lang="en">

<head>
    <title>JOB SEEKER - SIGN UP</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="signup-box">
        <h1 class="h1signup">SIGN UP</h1>
        <form action="/app" method="post">
            <label>FIRST NAME</label>
            <input type="text" name="fn" placeholder="" />
            <label>LAST NAME</label>
            <input type="text" name="ln" placeholder="" />
            <label>EMAIL</label>
            <input type="email" name="em" placeholder="" />
            <label>PASSWORD</label>
            <input type="password" name="pw" placeholder="" />
            <label>CONFIRM PASSWORD</label>
            <input type="password" name="cpw" placeholder="" />
            <input type="submit" value="Submit" />
        </form>
        <p>
            By clicking the Sign Up button, you agree to our <br />
            <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
        </p>
    </div>
    <p class="para-1">
        ALREADY HAVE AN ACCOUNT ? <a href="signin.html">SIGN IN</a> HERE
    </p>
</body>

</html>
