<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>

    <nav>

        <div class="menu">

            <div class="logo">

                <a href="/"> JOB RECOMMENDER WEBSITE </a>

            </div>

        </div>

    </nav>

    <div class="img"></div>

    <div class="center">

        <div class="title">YOUR START TO FINAL DESTINATION</div>

        <div class="sub_title">LAND ON YOUR DREAM JOB</div>

        <div class="btns">
            
            <button type="button"><a style="text-decoration:none;"  href="signin.html">SIGN IN</a> </button>
            
            <button type="button"><a style="text-decoration:none;"  href="signup.html">SIGN UP</a> </button>
        
        </div>
    
    </div>

</body>

</html>