<!DOCTYPE html>

<html lang="en">

<head>
    <title>JOB SEEKER - SIGN IN</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
    
    <div class="login-box">
        
        <h1 class="h1signin">SIGN IN</h1>
        
        <form action="/user" method="post">
            
            <label><b>EMAIL</b></label>
            
            <input type="email" name="sem" placeholder="" />
            
            <label><b>PASSWORD</b></label>
            
            <input type="password" name="spw" placeholder="" />
            
            <input type="submit" value="Submit" />
        
        </form>
    
    </div>
    
    <p class="para-2">
        DON'T HAVE AN ACCOUNT ? <a href="signup.html">SIGN UP</a> HERE
    </p>

</body>

</html>
